body {
  background-color: #f7d6bf;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
}

h3 {
  font-family: "Lobster", cursive;
  text-shadow: 2px 0 #232931;
  font-size: 2rem;
  padding: 0;
  margin: 0 0 2%;
}

p {
  font-size: 2rem;
  color: #318fb5;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #fff;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

/* Title Section */

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #318fb5;
}

@media only screen and (max-width: 600px) {
  .titleContainer {
    margin-bottom: 8%;
  }
  h1 {
    font-size: 5rem;
  }

  footer {
    margin-top: 10%;
  }
}

/* Dice Section */

.diceContainer {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  margin: 0 3%;
  display: inline-block;
}
